@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: rgb(151, 130, 130);
    font-family: 'Press Start 2P', cursive;
}

::-webkit-input-placeholder { 
    font-family: 'Press Start 2P', cursive;
  }
  ::-moz-placeholder { 
    font-family: 'Press Start 2P', cursive;
  }
  :-ms-input-placeholder { 
    font-family: 'Press Start 2P', cursive;
  }
  :-moz-placeholder { 
    font-family: 'Press Start 2P', cursive;
  }

header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: red;
    text-align: center;
}

header p {
    width: 80%;
    padding-left: 10% ;
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: royalblue;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bold-class{
    font-weight: bold;
}

.special-input{
    width: 95%;
    border: 2px solid rgba(255, 0, 0, 0.281);
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 1.5% 1%;
}

.special-input:focus{
    border: 2px solid red;
}

select {
    font-family: 'Press Start 2P', cursive;
}

footer{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: seagreen;
}

@media only screen and (max-width: 600px){
    body{
        grid-template-columns: 1fr 16fr 1fr;
    }
}